@import url('https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
    margin: 0;
    background-color: #1F2937;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;

}

.container {
    
}

h1 {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -2.5%;
    margin-bottom: 0;
}

button {
    background-color: #10B981;
    color: white;
    padding: 9px 15px;
    border: none;    
    border-radius: 5px;
    margin-bottom: 25px;
}



p {
    margin-top: 10px;
    margin-bottom: 40px;
    color: #D5D4D8;
    font-size: 20px;
    line-height: 28px;
}

.second-text {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #10B981;
    font-size: 16px;
    line-height: 28px;
}

.password-container {
    display: flex;
    margin-top: 30px;
}

.password {
     width: 200px;   
    background-color: #273549;
    margin-right: 20px;
    border-radius: 6px;
    padding: 8px;
    color: #55F991;
    text-align: center;
}

.breaker {
    color: #2F3E53;
}

.password:last-child {
    margin-right: 0;
}

.password::after {
    content: '\200b';
}

.highlighted {
    color: #4ADF86;
}

#count {
    background-color: #273549;
    border: 1px solid #10B981;
    border-radius: 6px;
    margin-bottom: 20px;
    width: 100px;
    color: white;
    text-align: center;
}

#symbol-label {
    color: #10B981;
}

.checkbox-container {
    margin-bottom: 15px;
}